on post-fs
    mount none /system/lib/libvolumelistener.so /vendor/lib/soundfx/libvolumelistener.so bind
    mount none /system/lib64/libvolumelistener.so /vendor/lib64/soundfx/libvolumelistener.so bind
    mount none /system/etc/android.hardware.lights-qti.xml /vendor/etc/vintf/manifest/android.hardware.lights-qti.xml bind
    mount none /system/etc/audio_policy_configuration.xml /vendor/etc/audio_policy_configuration.xml bind
    mount none /system/etc/audio_policy_configuration.xml /vendor/etc/audio/audio_policy_configuration.xml bind

service vendor.light-qti /vendor/bin/hw/android.hardware.lights-service.qti
    class hal
    user system
    group system
    shutdown critical
    disabled
    override
