service vendor.light-qti /vendor/bin/hw/android.hardware.lights-service.qti
    class hal
    user system
    group system
    shutdown critical
    disabled
    override

on late-fs
    start surfaceflinger
    start bootanim
    start vendor.hwcomposer-2-4
    start vendor.qti.hardware.display.allocator
